<form name="AddForm"
      action="$contextPath/plugins/calendar/ical/doAddCalendarForEvent.action"
      onsubmit="return $C('$calendar.id').submitForm(this)">
    <b>$action.getText('calendar.label.name')</b><br />
    <input type="text" name="name" size="20" value="$!generalUtil.htmlEncode($!name)" style="width: 100%"/><br/>
    <b>$action.getText('calendar.label.description')</b><br />
    <textarea name="description" cols="20" rows="3" style="width: 100%">$!generalUtil.htmlEncode($!description)</textarea><br/>
    <b>$action.getText('calendar.label.color')</b><br />
    <select name="color">
    #foreach ($calendarColor in $calendarColors)
       <option value="$calendarColor" class="${calendarColor}AllDay" #if ($calendarColor == $color) selected="selected" #end>$calendarColor</option>
    #end
    </select>
    <br />
    <b>$action.getText('calendar.label.location')</b> $action.getText('calendar.location.local')<br />
    <input type="hidden" name="sourceType" value="local"/>

    <input type="submit" name="update" value="$action.getText('calendar.button.add')"/>
    <input type="button" name="cancel" value="$action.getText('calendar.button.cancel')" onclick="$C('$calendar.id').clearDetails()"/>
</form>
