#if ($subCalendar.errors)
<p class="errors">
#foreach ($error in $subCalendar.errors)
    $generalUtil.htmlEncode($error)<br/>
#end
</p>
#end

<p>
    <b>$action.getText('calendar.label.name')</b> $generalUtil.htmlEncode($subCalendar.name)<br/>
    #if ($subCalendar.description)
    <b>$action.getText('calendar.label.description')</b><br />
    $calendarUtils.htmlLineEncode($subCalendar.description)<br/><br/>
    #end
    <b>$action.getText('calendar.label.color')</b> <span class="$!{subCalendar.color}AllDay">&#160;$!{subCalendar.color}&#160;</span><br/>
    <b>$action.getText('calendar.label.type')</b> iCalendar
</p>

<p>
    <b>$action.getText('calendar.label.location')</b>
    #if ($sourceType == "remote")
        $action.getText('calendar.location.remote')
    #elseif ($sourceType == "attachment")
        $action.getText('calendar.location.attachment')
    #else
        $action.getText('calendar.location.local')
    #end

    <br />

    #if ($subCalendar.source.url)
        #set ($url = $subCalendar.source.url.toString())
    #else
        #set ($url = "$fullContextPath/plugins/calendar/ical/dc.action?pageId=$content.id&cid=$calendar.id&scid=$subCalendar.id")
        #if (!$anonymousViewable)
            #set ($url = "$url&os_authType=basic")
        #end
    #end
    #set ($webcal = "webcal${url.substring(4)}")
    <a href="$url" title="$action.getText('calendar.button.download.help')">$action.getText('calendar.button.download')</a>#if(!$calendar.suppressSubscribeLink) |
    <a href="$webcal" title="$action.getText('calendar.button.subscribe.help')">$action.getText('calendar.button.subscribe')</a>#end
</p>

<p>
    <a href="#" onclick="return $C('$calendar.id').clearDetails();">$action.getText('calendar.button.close')</a>
#if ( $editPermitted)
    |
    <a href="#" onclick="return $C('$calendar.id').editCalendar('$subCalendar.id');">$action.getText('calendar.button.edit')</a>
    |
    <a href="#" onclick="return $C('$calendar.id').deleteCalendar('$subCalendar.id')">$action.getText('calendar.button.delete')</a>
    #if ( !$subCalendar.readOnly)
    |
    <a href="#" onclick="return $C('$calendar.id').addEvent('$subCalendar.id')" title="$action.getText('calendar.button.addEvent.help')">$action.getText('calendar.button.addEvent')</a>
    #else
    |
    <a href="#" onclick="return $C('$calendar.id').importCalendar('$subCalendar.id');">$action.getText('calendar.button.import')</a>
    #end
#end
</p>
