#parse ( "/templates/extra/calendar/macros.vm" )

<script type="text/javascript" src="$contextPath/download/resources/confluence.extra.calendar:calendar/js/debug.js"></script>
<script type="text/javascript" src="$contextPath/download/resources/confluence.extra.calendar:calendar/js/calendar.js"></script>

<link rel='stylesheet' type='text/css' href='$contextPath/plugins/calendar/style.action?spaceKey=$spaceKey'/>
<script type="text/javascript">// <!--

#if ( $debug )
showDebug();
#end

function openUserPickerPopup(formName, element)
{
    var vWinUsers = window.open('$contextPath/plugins/calendar/openuserpicker.action?key=&formName=' + formName + '&elementName=' + element + '&multiSelect=false&startIndex=0&usersPerPage=10', 'UserPicker2', 'status=yes,resizable=yes,top=100,left=200,width=660,height=500,scrollbars=yes');
    vWinUsers.opener = self;
    vWinUsers.focus();
}

Calendar.contentId = $content.id;
Calendar.contextPath = "$contextPath";
// -->
</script>

<div id="calendar-$calendar.id" class="calendar">

<table class="container" cellpadding="0" border="0" cellspacing="0">
<tbody>
  <tr>
    <td class="calendarDisplay">
    <div id="calendar-display-${calendar.id}" class="calendarDisplay" defaultView="${defaultView}" firstDay="${firstDay}">
        #parse("/templates/extra/calendar/${defaultView}.vm")
    </div>
    </td>
    <td class="calendarInfo">
    <div id="calendar-info-$calendar.id" class="calendarInfo">
        <div id="calendar-list-$calendar.id" class="calendarList">
            #parse("/templates/extra/calendar/listCalendars.vm")
        </div>
        <div id="calendar-loading-$calendar.id" class="calendarLoadingIdle">
         <img src="$contextPath/images/icons/wait.gif" height="16" width="16" border="0" align="absmiddle"/>
         $action.getText('calendar.message.loading')
        </div>
        <div id="calendar-details-$calendar.id" class="calendarDetails" style="display: none">
          <div id="calendar-details-heading-$calendar.id" class="first"></div>
          <div id="calendar-details-errors-$calendar.id" class="error" style="display: none"></div>
          <div id="calendar-details-content-$calendar.id"></div>
        </div>
    </div>
    </td>
  </tr>
</tbody>
</table>

</div>